* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background-color: $background-color-base;
    font-family: $font-family-base;
    line-height: $line-height-base;
}

body {
    color: rgb(233, 233, 233);
}

h1 {font-size: $font-size-h1;}
h2 {font-size: $font-size-h2;}
h3 {font-size: $font-size-h3;}
h4 {font-size: $font-size-h4;}
h5 {font-size: $font-size-h5;}
h6 {font-size: $font-size-h6;}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

a {
    color: $anchor-color;

    &:hover,
    &:focus {
        color: $anchor-color-hover;
    }
}