body.d_debug-pannel--open .d_debug-pannel {

  .d_debug-pannel-toggle .d_icon {
    transform: scaleX(-1);
  }
}

.d_debug-pannel {
  display: flex !important;

  position: fixed;
  bottom: 0;
  left: 0;

  background: #202020;
  color: white;
  border-top-right-radius: 5px;

  font-weight: lighter;
  font-size: 14px;
  letter-spacing: .2em;

  z-index: 800;


  .item {
    display: flex;
    justify-content: center;
    padding: 3px 10px;


    &:nth-child(odd) {
      background-color: rgba(black, .2);
    }

    .d_icon {
      margin-right: 10px;
    }

    .d_content {
      width: 40px;
    }
  }


  .d_bootstrap-bp .d_content:after {
    @each $breakpointSize, $breakpointVal in $grid-breakpoints {
      @include media-breakpoint-up($breakpointSize) {content: "#{$breakpointSize}";}
    }
  }

  .d_debug-pannel-toggle {
    flex-shrink: 0;
  }
}