<!DOCTYPE html>
<html>
<head>
	<title>DOUGH</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./all.css">
</head>
<body>

	<div id="dough">dough</div>


	<div class="container">
		<div class="row">
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
		</div>
	</div>

	
	<div class="d_debug-pannel" style="display: none">
		<div class="item d_bootstrap-bp">
			<div class="d_icon"><i class="fab fa-bootstrap"></i></div>
			<div class="d_content"></div>
		</div>
		<div class="item d_window-size-x">
			<div class="d_icon"><i class="fas fa-arrows-alt-h"></i></i></div>
			<div class="d_content">1080</div>
		</div>
		<div class="item d_window-size-y">
			<div class="d_icon"><i class="fas fa-arrows-alt-v"></i></div>
			<div class="d_content">1920</div>
		</div>
		<div class="item d_window-scroll-y">
			<div class="d_icon"><i class="fas fa-arrow-down"></i></div>
			<div class="d_content">0</div>
		</div>
		<div class="item item--small d_debug-grid-overlay-toggle c-p">
			<div class="d_icon m-0"><i class="fas fa-grip-lines-vertical"></i><i class="fas fa-grip-lines-vertical"></i></div>
		</div>
		<div class="item item--small d_debug-pannel-toggle c-p">
			<div class="d_icon m-0"><i class="fas fa-chevron-right"></i></div>
		</div>
	</div>

	<div class="d_debug-grid-overlay" style="display: none">
		<div class="container">
			<div class="row">
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
	<script src="https://unpkg.com/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
	<script src="./main.js"></script>

</body>
</html>