{{> header}}

	<div id="dough">dough <i class="fas fa-adjust"></i></div>


	<div class="container">
		<div class="row">
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
			<div class="col"><div class="x"></div></div>
		</div>
	</div>

	
	<div class="d_debug-pannel" style="display: none">
		<div class="item d_bootstrap-bp">
			<div class="d_icon"><i class="fab fa-bootstrap"></i></div>
			<div class="d_content"></div>
		</div>
		<div class="item d_window-size-x">
			<div class="d_icon"><i class="fas fa-arrows-alt-h"></i></i></div>
			<div class="d_content"></div>
		</div>
		<div class="item d_window-size-y">
			<div class="d_icon"><i class="fas fa-arrows-alt-v"></i></div>
			<div class="d_content"></div>
		</div>
		<div class="item d_window-scroll-y">
			<div class="d_icon"><i class="fas fa-swimming-pool"></i></div>
			<div class="d_content"></div>
		</div>
		<div class="item item--small d_debug-grid-overlay-toggle c-p">
			<div class="d_icon m-0"><i class="fas fa-grip-lines-vertical"></i><i class="fas fa-grip-lines-vertical"></i></div>
		</div>
		<div class="item item--small d_debug-pannel-toggle c-p">
			<div class="d_icon m-0"><i class="fas fa-chevron-right"></i></div>
		</div>
	</div>

	<div class="d_debug-grid-overlay" style="display: none">
		<div class="container">
			<div class="row">
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
				<div class="col"><div class="the-col"></div></div>
			</div>
		</div>
	</div>

{{> footer}}