<!DOCTYPE html>
<html>
<head>
	<title>SKANKANDBASS</title>
	<meta name="theme-color" content="#000">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="player-activee">

	<div class="container__nav">
		<a href="#label" data-menuanchor="label">
			<img src="../assets/skankandbass.png" alt="" class="logo">
		</a>
		<nav class="container__nav__main">
			<ul class="nav__main">
				<li data-menuanchor="label"><a href="#label" class="active">label</a></li>
				<li data-menuanchor="music"><a href="#music">music</a></li>
				<li data-menuanchor="events"><a href="#events">events</a></li>
				<li data-menuanchor="djsets"><a href="#djsets">dj sets</a></li>
				<li data-menuanchor="merch"><a href="https://everpress.com/skankandbass" target="_blank">merch</a></li>
			</ul>
		</nav>

		<nav class="container__nav__social">
			<a href="#" class="e-mail-list">Join our e-mail list!</a>
			<ul class="nav__social">
				<li><a href="http://instagram.com/skankandbass" target="_blank"><ion-icon name="logo-instagram"></ion-icon></i></a></li>
				<li><a href="http://facebook.com/skankandbass" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
				<li><a href="http://twitter.com/skankandbass" target="_blank"><ion-icon name="logo-twitter"></ion-icon></i></a></li>
				<li><a href="http://soundcloud.com/skankandbass" target="_blank"><ion-icon name="logo-soundcloud"></ion-icon></i></a></li>
				<li><a href="http://youtube.com/skankandbass" target="_blank"><ion-icon name="logo-youtube"></ion-icon></i></a></li>
				<li><a href="https://open.spotify.com/user/skankandbass" target="_blank"><ion-icon name="logo-spotify"></ion-icon></i></a></li>
			</ul>
		</nav>
	</div>

	<div class="container__pattern">
			<nav class="pattern__controlls">
				<ion-icon name="skip-backward"></ion-icon>
				<ion-icon name="pause"></ion-icon>
				<ion-icon name="skip-forward"></ion-icon>
			</nav>			
	</div>

	<div class="container__player">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="player__controlls">
						<ion-icon name="skip-backward"></ion-icon>
						<ion-icon name="pause"></ion-icon>
						<ion-icon name="skip-forward"></ion-icon>
						<div class="timer">1:52</div>
						<div class="timeline__container">
							<div class="timeline__progress" style="width: 28%">
								<div class="timeline__progress__dot"></div>
							</div>
						</div>
						<ion-icon name="volume-high"></ion-icon>
						<img src="../assets/1.jpg" alt="" class="thumbnail">
						<span class="song-title">Dbass on reprezent - 02 name of the song</span>
						<ion-icon name="close"></ion-icon>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fullpage">
		<div class="section" data-percentage="80" data-centered="true">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1>Label</h1>
						<p>Skankandbass is dedicated towards the official promotion of record labels and artists in the world of drum & bass music. Since inception in 2010, Skankandbass has unearthed some of the freshest talents in the scene and has opened many doors for unsigned artists.</p>
						<p>Now, a few years in to the game, Skankandbass decides to take on the role of a record label to put together a series of free download singles which aims to further help spread the work of the best unsigned, newcomer artists who deserve more recognition.</p>
						<p>Please send demos for our label to <a href="http://send.mu/Skankandbass" target="_blank">http://send.mu/Skankandbass</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1>music</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="section" data-anchor="slide2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1>events</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="section" data-anchor="djsets">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1>dj sets</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>