.fe-debug{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    background: #202020;
    color: white;

    text-transform: uppercase;
    font-weight: lighter;


    .debug-item{
        display: flex;
        padding-right: 20px;
        padding-left: 20px;

        &:nth-child(odd){
            background: #303030;
        }

        .icon{
            padding-right: 10px;
            // margin-right: 5px;
        }
    }
    

    .bootstrap-bp .content:after {

        @include media-breakpoint-up(xl){
            content:"> xl";
        }
        @include media-breakpoint-down(xl){
            content:"xl";
        }
        @include media-breakpoint-down(lg){
            content:"lg";
        }
        @include media-breakpoint-down(md){
            content:"md";
        }
        @include media-breakpoint-down(sm){
            content:"sm";
        }
        @include media-breakpoint-down(xs){
            content:"xs";
        }
    }
}