#dough {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  background-image: url("./dough.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
}