
.container__player{
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 50px;
	background: $bg2;
	border-top: 2px solid $bg3;
	z-index: 999;

	body.player-active &{
		display: block;
	}
	
	.player__controlls{
		display: flex;
		align-items: center;
		height: 50px;
		font-size: 12px;
		text-align: center;

		> *{
			margin-left: 8px;
			margin-right: 8px;
		}
		> :first-child{margin-left: 0;}
		> :last-child{margin-right: 0;}

		ion-icon{
			font-size: 25px;
			cursor: pointer;
			padding: 4px;
			transition: all .1s;

			&:hover{
				color: darken(white, 20%);
			}
		}

		.timeline__container{
			background: $bg5;
			width: 100%;
			height: 5px;
			border-radius: 5px;
			cursor: pointer;

			.timeline__progress{
				position: relative;
				display: flex;
				align-items: center;
				height: inherit;
				border-radius: inherit;
				background: $primary;

				&__dot{
					position: absolute;
					right: 0;			
					width: 10px;
					height: 10px;
					background: inherit;
					border-radius: 100%;
				}
			}

		}
		.thumbnail{
			height: 32px;
			background-color: blue;
		}
		.song-title{
			min-width: 160px;
			white-space: nowrap;
			text-overflow: ellipsis;
		  overflow: hidden;
		  text-transform: uppercase;
		}
	}
}
