
// colors
$bg1: #000;
$theme: #fff600;

// bootstrap var
$primary: $theme;
$enable-rounded: false;
$input-btn-focus-width: 0;

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 1410px, xl: 1650px);
$container-max-widths: (sm: 333px, md: 200px, lg: 720px, xl: 960px);