
// colors
$black1: #000;
$black2: #050505;
$black3: #101010;
$black4: #151515;
$black5: #202020;
$theme: #fff600;

// bootstrap var
$primary: $theme;
$enable-rounded: false;
$input-btn-focus-width: 0;

// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 1410px, xl: 1650px);
// $container-max-widths: (sm: 333px, md: 720px, lg: 720px, xl: 960px);