.d_debug-grid-overlay-toggle {
  background-color: #563d7c !important;

  &:hover {
    background-color: darken(#563d7c, 5) !important;
  }

  &.active {
    background-color: lighten(#563d7c, 20) !important;
  }
}

body.d_debug-grid-overlay--show {
  .d_debug-grid-overlay {
    top: 0;
  }
}
.d_debug-grid-overlay {
  display: block !important;
  
  position: fixed;
  top: 100%;
  width: 100%;
  
  pointer-events: none;
  z-index: 700;

  .container{
    background-color: rgba(pink, .15);
  }

  .the-col {
    height: 100vh;
    background-color: rgba(pink, .2);
  }
}