
@import '../all';

body.d_debug-pannel--open .d_debug-pannel {

    .d_toggle .d_icon {
        transform: scaleX(-1);
    }
}
.d_debug-pannel{
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex !important;

    background: #202020;
    color: white;

    border-top-right-radius: 5px;

    font-weight: lighter;
    font-size: 14px;
    letter-spacing: .2em;

    transition: .3s;
    z-index: 1200;


    .item{
        display: flex;
        justify-content: center;
        padding: 3px 10px;

        .d_icon{
            margin-right: 10px;
            transition: .3s;
        }

        &--small{
            min-width: 0;
            padding: 3px 10px;
        }
    }

    .d_grid{
        background: #563d7c;
        cursor: pointer;

        transition: .2s;

        &:hover{
            background: darken(#563d7c, 5)
        }
    }
    

    .d_bootstrap-bp .d_content:after {

        @include media-breakpoint-up(xl){
            content:"> xl";
        }
        @include media-breakpoint-down(xl){
            content:"xl";
        }
        @include media-breakpoint-down(lg){
            content:"lg";
        }
        @include media-breakpoint-down(md){
            content:"md";
        }
        @include media-breakpoint-down(sm){
            content:"sm";
        }
        @include media-breakpoint-down(xs){
            content:"xs";
        }
    }
}

.d_debug-grid{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
    .x{
        height: 100vh;
        background: rgba(pink, 0.3);
    }
}
/*! end of dev.scss */