$font-family-base: 'Montserrat', sans-serif;
$font-color-base: $color-white;
$line-height-base: 1.3;

$font-size-base: 1rem;

$font-size-h1: $font-size-base * 2.5;
$font-size-h2: $font-size-base * 2;
$font-size-h3: $font-size-base * 1.75;
$font-size-h4: $font-size-base * 1.5;
$font-size-h5: $font-size-base * 1.25;
$font-size-h6: $font-size-base;