@import '/node_modules/normalize.css/normalize';

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

input {
    width: 100%;

    &:focus {
        border: none;
        outline: none;
    }
}

button {
    width: 100%;
    outline: none;
    border: none;
    color: inherit;
}
